.idea/
cmake-build-debug/
cmake-build-release/
build/
.vs/
Debug/
*.exe
*.recipe
*pdb
*.tlog*
*.lastbuildstate*
*.obj
*.iobj
*.log
3DReconstruct/
3D_Reconstruct.dir/
CMakeCache.txt
CMakeFiles/
MinSizeRel/
NoCalibReconstruct.dir/
*.vcxproj*
build/
*.cmake
RelWithDebInfo/
